
header{background-color: rgb(251, 255, 253);
    boder: none;
    border-radius: 0%;
    margin: none;
    float: none;

}




body {
    background: papayawhip;
  color: rgba(0, 1, 1, 0.941);
  font-family: Arial, Helvetica, sans-serif;
      border: none;
      font-style: normal;
      font-size:16px;
      font-variant-numeric: normal;
      float: none;
      fill-opacity: unset;
      flex-direction: initial;
      cursor: grab;
  
  }
  a {
      color: rgb(70, 7, 230);
  }
  a:visited {
      color: rgb(55, 6, 233);
  }
  a:hover, a:active{
      color:rgb(198, 11, 11);
  }